.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(../../Images/back1.jpg);
    z-index: -1;
}

.left{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}